.playArea{
  border: 2px solid crimson;
  margin: 100px;
  height: 80vh;

}
#player1Form{
  float: left;
  padding: 10px;
}
#player2Form{
  float: right;
  padding: 10px;
}
.buttonPlayer1{
  position: fixed;
  bottom: 100px;
  padding: 20px;
}
.buttonPlayer2{
  position: fixed;
  bottom: 100px;
  right: 150px;
  padding: 20px;
}
