.playArea{
  border: 2px solid crimson;
  position: relative;
  margin: 100px;
  height: 80vh;

}
#player1Form{
  float: left;
  padding: 20px;
}
#player2Form{
  float: right;
  padding: 20px;
}
.buttonPlayer1{
  position: absolute;
  top: 65vh;
  bottom: 0px;
  padding: 20px;
}
.buttonPlayer2{
  position: absolute;
  top: 65vh;
  bottom: 0px;
  right: 10px;
  padding: 20px;
}
/* .border{
  border: 1px solid green
} */
.well{
  padding: 50px;
  margin-top: 30vh;
}
.bg-img{
  background-image: url("../img/bg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#player1Display, #player2Display, .scoreDescription{
  display: none;
  color: white;
  font-size: 30px;
}
