.playArea{
  border: 2px solid crimson;
  position: relative;
  margin: 100px;
  height: 80vh;

}
#player1Form{
  float: left;
  padding: 10px;
}
#player2Form{
  float: right;
  padding: 10px;
}
.buttonPlayer1{
  position: absolute;
  top: 65vh;
  bottom: 0px;
  padding: 20px;
}
.buttonPlayer2{
  position: absolute;
  top: 65vh;
  bottom: 0px;
  right: 10px;
  padding: 20px;
}
/* .border{
  border: 1px solid green
} */
.well{
  padding: 50px;
  margin-top: 30vh;
}
.bg-img{
  background-image: url("../img/bg2.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
